<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	 <session-factory>
<!-- JDBC Properties to be configured -->
		  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentdb?useSSL=false</property>
		  <property name="hibernate.connection.username">root</property>
		  <property name="hibernate.connection.password">G0d$Child</property>
		  <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
<!-- used to create a table in the database -->		  
  		  <property name="hibernate.hbm2ddl.auto">create</property>  
		  <property name="hibernate.show_sql">true</property>
<!-- hibernate is guided on loading User.hbm.xml -->
		  <mapping resource ="simplilearn/model/User.hbm.xml"/>
		  <mapping resource ="simplilearn/model/UserHistory.hbm.xml"/>
	 </session-factory>
</hibernate-configuration>
